.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 3rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: white !important;;
    border-radius: .25rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}