.keunggulan {
    display: flex;    
    @include for-tablet-landscape-up {
        flex-direction: row;
    }
    flex-direction: column;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: $coolGray-50;
    bottom: auto;
    .keunggulan-box {
        flex: 1 1 0%;
        width: 100%;
        overflow: hidden;
        border-radius: $border-radius-md;
        box-shadow: $shadow-sm;
        background-color: $blueGray-600;
        text-align: left;
        padding: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        color: $coolGray-50;
        .icon {
            display: flex;
            .flex-icon-1 {
                padding: 1rem;
                border-radius: 0.25rem;
                width: 60px;
                height: 60px;
                color: $blueGray-800;
                background-color: $fuchsia-100;
            }
            .flex-icon-2 {
                padding: 1rem;
                border-radius: 0.25rem;
                width: 60px;
                height: 60px;
                color: $blueGray-800;
                background-color: $amber-100;
            }
            .flex-icon-3 {
                padding: 1rem;
                border-radius: 0.25rem;
                width: 60px;
                height: 60px;
                color: $blueGray-800;
                background-color: $rose-100;
            }
        }
        .keunggulan-welcome-by {
            font-weight: $font-medium;
            color: $cyan-600;
        }
        .keunggulan-welcome-level {
            color: $gray-500;
        }
        .keunggulan-title {
            padding-top: 1.5rem;
            text-align: left;
            font-weight: $font-bold;
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
        p {
            text-align: left;
            font-weight: $font-medium;
            @include text-base();
        }
    }
}