.product {
    display: grid;
    // padding: 4rem;
    @include for-tablet-landscape-up {    
        grid-template-columns: repeat(4, 1fr);
    }
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: transparent;
    margin: 0;
    .product-box {
        @include for-tablet-landscape-up {    
            margin-bottom: 0.5rem;
        }    
        box-shadow: $shadow-sm;
        margin-bottom: 3rem;
        height: 15rem;
        justify-content: center;
        align-items: center;
        display: flex;
        .product-box_title {
            @include text-lg;
            font-weight: 700;
            text-align: center;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            color: $coolGray-50;
            width: 100%;
            background-color: RGBA(107,114,128,0.5);
        }
    }
}