.welcome {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .welcome-items {
        padding-top: 9rem;
        padding-bottom: 6rem;
        @include for-tablet-landscape-up {    
            padding-left: 13rem;
            padding-right: 13rem;
        }
        padding-left: 3rem;
        padding-right: 3rem;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        z-index: 10;
        position: relative;
    }
    .welcome-title {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-weight: $font-semibold;
        font-size: 1.25rem;
        line-height: 4rem;
        color: $coolGray-800;
    }
    .welcome-desc {
        @include text-lg();
        line-height: 1.625;
        font-weight: 500;
        letter-spacing: 0.025em;
        margin-bottom: 1.5rem;
        color: $coolGray-500;
    }
}